<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>571101305517-g3koldgvbr70cdgoijj1u1ab2hspo3ah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571101305517-g3koldgvbr70cdgoijj1u1ab2hspo3ah</string>
	<key>API_KEY</key>
	<string>AIzaSyBEHSa2cwW0gxRjzuGDsjL3BHOw5KeH0lg</string>
	<key>GCM_SENDER_ID</key>
	<string>571101305517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>viMatthi.FutureFoot</string>
	<key>PROJECT_ID</key>
	<string>futurefootv1</string>
	<key>STORAGE_BUCKET</key>
	<string>futurefootv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:571101305517:ios:99edbbdf2e5069eb</string>
	<key>DATABASE_URL</key>
	<string>https://futurefootv1.firebaseio.com</string>
</dict>
</plist>
